/* Colours */

:root { 
    --primary-blue: #0A397D ; 

}

* {
    margin: 0; 
    padding: 0; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body { 
    font-family: 'Poppins', sans-serif;
}

/* General Styling */

section {
    min-height: 40vh;
}

h2 {
    text-align: center;
    text-transform: capitalize;
}

li { 
    list-style-type: none;
}

a { 
    color: inherit;
    text-decoration: none;
}

section {
    padding-bottom: 1rem;
}

/* Header */

header { 
    margin: 1.5rem;
    display: grid; 
    text-align: center;
    justify-content: center;
    align-items: baseline;
}

.logo { 
    font-family: 'Charm', cursive;
    font-size: 1.5rem;
    margin-right: 2rem;
    cursor: pointer;
}

.navbar {
    display: flex; 
    justify-content: space-evenly;
}

.nav-item { 
    margin-right:1rem;
    position: relative;
}

.nav-item:before { 
    content: ""; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 0%; 
    height: 3px;
    background-color: black;
    transition: 0.4s;
}

.nav-item:hover:before { 
    width: 100%;
}


/* Hero Section */

.hero { 
    height: 80vh; 
    width: 100%;
    background:  url('./assets/live140960_07proposedelevations_1.jpg') var(--primary-blue);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.hero a {
    padding: 1rem;
    margin-top: 1rem;
    background-color: white; 
    color: #0A397D;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.3s;
}

.hero a:hover {
    border: 1px solid white; 
    background-color: #0A397D; 
    color: white;
    box-shadow: 0 2px 3px 0 white;
}

/* Testimonials */

.testimonials { 
    display: grid;
    gap: 30px;
}
.testimonials h2 { 
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    margin-top:-4rem;
    width: fit-content;
    background-color: var(--primary-blue);
    color: white;
}

.testimonial { 
    width: 80%; 
    margin: 0 auto;
    border: 1px solid var(--primary-blue);
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0px var(--primary-blue);
}

.name { 
    font-weight: lighter;
}

.testimonials a { 
    background-color: var(--primary-blue); 
    color: white; 
}


/* Footer */

footer { 
    padding-top: 1rem;
    min-height: 10vh;
    color: white;
    background-color: #333333;
    display: grid;
    justify-content: space-evenly;
    gap: 20px;
}





/***************************************************/
/*                  Contact page                   */
/***************************************************/

.contact {
    background-color: #0A397D;
    color: white;

}

#contact-form {
    display: grid; 
    width: 80%;
    margin: 0 auto; 
    gap: 10px; 
    font-family: inherit;
}


#contact-form button {
    background-color: white; 
    color: #0A397D; 
    border: 1px solid transparent;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
#contact-form button:hover {
    color: white; 
    background-color: #0A397D; 
    border: 1px solid white;
    box-shadow: 0 2px 3px 0 white;
}


.contact-details {
    display: grid; 
}

.contact-details h2 {
    color: #0A397D;
}

.details {
    width: 90%;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;

}

.detailRight {
    text-align: right;
}

.detailLeft {
    font-weight: lighter;
}


/* Media Queries */

@media screen and (min-width: 48em) {
    header {
        display: flex;
    }

    .navbar {
        display: flex; 
        justify-content: space-evenly;
    }


    footer {
        display: flex;
    }

    .contact-details {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title title"
            "form map-title"
            "form map";
    }

    .contact-details h2 {
        grid-area: title;
    }

    .contact-details h4 {
        grid-area: map-title;
    }

    .contact-details .details {
        grid-area: form;
    }

    .contact-details iframe {
        grid-area: map;
    }
}